<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ZOOM_RIPOFF.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js" 
    integrity="sha512-7SRCYIJtR6F8ocwW7UxW6wGKqbSyqREDbfCORCbGLatU0iugBLwyOXpzhkPyHIFdBO0K2VCu57fvP2Twgx1o2A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/meeting.js"></script>
    <script>
        window.registerBeforeUnload = function (dotnetHelper) {
            window.leaveHandler = function () {
                dotnetHelper.invokeMethodAsync('LeaveMeetingFromJs');
            };

            window.addEventListener('beforeunload', window.leaveHandler);
        };

        window.unregisterBeforeUnload = function () {
            window.removeEventListener('beforeunload', window.leaveHandler);
        };
    </script>

</body>

</html>
