<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ZOOM_RIPOFF.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.registerBeforeUnload = function (dotnetHelper) {
            window.leaveHandler = function () {
                dotnetHelper.invokeMethodAsync('LeaveMeetingFromJs');
            };

            window.addEventListener('beforeunload', window.leaveHandler);
        };

        window.unregisterBeforeUnload = function () {
            window.removeEventListener('beforeunload', window.leaveHandler);
        };
    </script>

</body>

</html>
